
/* padd body to account for fixed header and footer */
body{
    padding-top:100px;
    padding-bottom: 70px;
}

/* set background color of navbar and footer */
.navcol {
    background-color: lightseagreen;
}

/* portfolio page hover magic */
/* make invisible words in center of img's */
.middle{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
/*when hover over card make picture fade*/
.imgfade:hover .img{
    opacity: 0.25;
}
/* when hover over card make words in middle become visible */
 .imgfade:hover .middle{
    opacity: 1;
    font-weight: bold;
    color: black;
}

/* Portfolio cards center on page and padding */
.imgfade {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

/* Home and contact elements center and padding */
.centerpad{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

/* remove blue color from link text */
a {
    color: black;
}




