
body{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#fullpage section 
{
    height: 100vh; 
    width: 100vw;
    
}

#fullpage section h1 {
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 100vh;
}

#fullpage {
    height: 100vh;
    overflow: hidden;
}


/* portfolio page hover magic */
/* make invisible words in center of img's */
.middle{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
/*when hover over card make picture fade*/
.imgfade:hover .img{
    opacity: 0.25;
}
/* when hover over card make words in middle become visible */
 .imgfade:hover .middle{
    opacity: 1;
    font-weight: bold;
    color: black;
}

/* Portfolio cards center on page and padding */
.imgfade {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

/* Home and contact elements center and bottom margin */
.centerpad{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

/* remove blue color from link text */
a {
    color: black;
}

.col-md-4 {
    margin-top: 50px;
}

#fullpage section:nth-child(1)
{
    background: #f00;
}

#fullpage section:nth-child(2)
{
    background: rgb(0, 255, 242);
}

#fullpage section:nth-child(3)
{
    background: #0ff;
}

#fullpage section:nth-child(4)
{
    background: #f0f;
}

#fullpage section:nth-child(5)
{
    background: #00ff00;
}







